.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
  font-size: 0.75rem;

  div {
    display: flex;
    align-items: center;
  }

  button {
    all: unset;
    padding: 4px;
    border-radius: 4px;
    display: flex;

    &.selected {
      background-color: var(--color-hover);
    }

    &:hover {
      background: var(--color-hover);
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
