.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;

  div {
    display: flex;
  }

  button {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none;
    padding: 8px;
    border-radius: 4px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background: var(--color-hover);
    }
  }
}
