.container {
  margin: auto;

  & button {
    & svg {
      width: 2rem;
      height: 2rem;
    }

    background: transparent;
    border: none;
    color: var(--color-text-2);
    padding: 0;

    :hover {
      cursor: pointer;
    }
  }

  .filled {
    color: var(--color-yellow);
  }
}
