:root {
  --color-text-1: rgba(255, 255, 255, 0.87);
  --color-text-2: rgba(255, 255, 255, 0.7);
  --color-border: rgba(255, 255, 255, 0.3);
  --color-hover: rgba(255, 255, 255, 0.3);
  --color-background-1: #111;
  --color-background-2: #191919;
  --color-primary: #4cc2ff;
  --color-secoundary: #904deb;
  --color-red: #8e0024;
  --color-green: #368900;
  --color-yellow: #ffc300;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text-1: #000;
    --color-text-2: rgba(0, 0, 0, 0.8);
    --color-border: rgba(0, 0, 0, 0.3);
    --color-hover: rgba(76, 194, 255, 0.3);
    --color-background-1: #fafafa;
    --color-background-2: #f0f0f0;
    --color-primary: #3cace5;
    --color-secoundary: #904deb;
    --color-red: #8e0024;
    --color-green: #368900;
    --color-yellow: #ffc300;
  }
}
